body {
    background-image: url(fundo.PNG);
    background-size: cover ;
    font-family: 'Josefin Sans', sans-serif;
    margin: 40px;
  }
  
  .projetos > a {
    background-color: #343434;
    width: 21%;
    height: 19vh;
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 0PX;
    transition: 0.5s;
  }
  
  figure{
    background-color: #343434;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 60px black;
    margin-left: 0;
  }
  
  .pro {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 20% 70% 10%;
    row-gap: 6%;
  }
  
  .projetos {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10%;
  row-gap: 10vh;
  height: 100%;
  width: 100%;
  grid-row-start: 2;
  grid-column-end: 3;
  
  }
  
  #cabecario {
    display: flex;
    gap: 20px;
  }
  
  #home {
    background-color: #2C2C2C;
    height: 100%;
    width: 25%;
    border-radius: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #curriculo {
    background-color: #2C2C2C;
    height: 100%;
    width: 65%;
    border-radius: 300px;
    color: #D27304;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
  
  }
  
  figure > img {
    width: 100%;
    height: 100%;
  }

  .breve {
    width: 83%;
    background-color: #2C2C2C;
    height: 10vh;
    grid-row-start: 3;
    margin-top: 30px;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D27304;
    font-size: 25px;
    border-radius: 10px;

  }

  #cabecario > a {
    transition: 0.4s;
  }

  #cabecario > a:hover {
    background-color: #1b1a1a;
  }

  .projetos > a:hover {
    transform: scale(1.2);
  }